﻿

$highlight-color: #00AA9B;

.wizard {
    display: flex;
    width: 100%;
    height: 45px;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    display: flex;

    ::deep .wizard-wrapper {
        display: flex;

        @media only screen and (max-width: 780px) {
            transform: scale(0.75);
        }

        @media only screen and (max-width: 360px) {
            transform: scale(0.5);
        }
    }

    ::deep .wizard-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 150px;
        background: #5c5d65;
        border: 1px solid #0c0b0b;
        position: relative;

        &::after {
            content: "";
            background: #5c5d65;
            width: 31px;
            height: 31px;
            display: block;
            position: absolute;
            left: calc(100% - 14px);
            transform: rotate( 45deg );
            z-index: 1;
            border: 4px solid #080808;
            border-width: 1px 1px 0px 0px;
        }

        .wizard-item-heading {
            font-size: 14px;
            color: white;
        }

        .wizard-item-subheading {
            font-size: 10px;
            color: white;
        }
    }

    .wizard-item:last-of-type {
        border-radius: 0px 33px 33px 0px;
        border: 4px solid #080808;
        border-width: 1px 1px 0px 0px;

        &::after {
            display: none;
        }
    }

    .wizard-item:first-of-type {
        border-radius: 33px 0px 0px 33px;
    }

    .last {
        background: $highlight-color !important;


        &::after {
            content: "";
            background: $highlight-color !important;
        }
    }
}


