﻿@page "/wizard"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using WizardGeneric.Model

@inherits WizardComponent;

<div class="wizard">
    <div class="wizard-wrapper">
        @foreach (var item in WizardViewModel.WizardItems)
        {
            <div class="wizard-item  @(item.IsActive ? "active" : "")  @(item.IsLastKnown ? "last" : "") ">
                <div class="wizard-item-heading">
                    @item.Title
                </div>
            </div>
        }
    </div>
</div>
@foreach (var item in WizardViewModel.WizardItems)
{
    @if (item.IsLastKnown)
    {
        <div class="img-fluid text-center adjustment-margin">
            <img src="@item.Src" />
        </div>
    }
}

<button class="btn btn-primary" @onclick="WizardViewModel.PreviousStep">Previous Step</button>
<button class="btn btn-primary" @onclick="WizardViewModel.NextStep">Next Step</button>