﻿ /*h1 {
    color: purple;
    font-style: italic;
    text-shadow: 2px 2px 2px gray;
}
$color: blue;
$fontStyle: italic;
$textShadow: 2px 2px 2px gray;



 .wizard {
    display: flex;
    background: gray;
    width: 100%;
    height: 45px;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    display: flex;

    ::deep .wizard-wrapper {
        display: flex;
    }

    ::deep .wizard-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 145px;
        background: white;
        border: 1px solid gray;
        position: relative;

        &::after {
            content: "";
            background: red;
            width: 32px;
            height: 32px;
            display: block;
            position: absolute;
            left: calc(100% - 16px);
            transform: rotate(45deg);
            z-index: 1;
        }

        .wizard-item-heading {
            font-size: 14px;
        }

        .wizard-item-subheading {
            font-size: 10px;
        }
    }

    .wizard-item:last-of-type {
        &::after {
            display: none;
        }
    }

    .wizard-item.active {
        background: green;

        &::after {
            content: "";
            background: green;
        }
    }
}
*/