﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #35363a;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    background-color: #333333;
    border-color: white;
    border-radius: 22px;
    transition:0.5s all;
}

    .btn-primary:hover {
        background-color: #00AA9B;
        border-color: white;
    }

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


h1 {
    color: red;
    font-style: italic;
    text-shadow: 2px 2px 2px gray;
}


.main {
    background: #35363A;
}

.sidebar {
    background-image: none !important;
    background-color: #222222;
}

.top-row {
    z-index: 999999;
    display:none !important;
}

.margin-45px {
    margin:-50px;
}

.adjustment-margin {
    margin-top: -52px;
}

#app {
    color:white;
}